@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
 * Site-wide elements
 */
body {
  background-image: url('/resources/assets/Main_HEADER_003.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	background-color: : #f9f9f9;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'robotoregular';
}
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0;
}
h1 {
	font-size: 2em;
	border-bottom: 1px solid #aaa;
}
h2 {
	font-size: 1.6em;
	border-bottom: 1px solid #aaa;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5, h6 {
	font-size: 1em;
}
img {
	max-width: 100%;
	height: auto;
}
pre {
	white-space: pre-wrap;
}
fieldset {
	border: 1px solid #aaa;
	margin: 1em 0;
}

/* The hero image */
.hero-image {
    background-image: url('/resources/assets/Main_HEADER_002.jpg');

  /* Set a specific height */
  height:300px;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  width: 700px;
}

.hero-text h1 {
  margin: 0;
  padding: 0;
  border-bottom: 0;
  line-height: normal;
}

.hero-text p {
  padding: 50px 0px 0px 0px;
  margin: 0;
}

/**
 * Header
 */
#header-wrapper {
	border-bottom: 1px solid #aaa;
}
#header {
	margin: auto;
	max-width: 1000px;
	padding: .5em;
}
#logo-wrapper {
	display: inline-block;
	width: 50%;
	height: 28px;
}
#logo {
	background-size: contain;
	background-repeat: no-repeat;
	color: inherit;
	display: inline-block;
	padding-left: 40px;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 23px;
	letter-spacing: 1px;
	word-spacing: 2px;
	height: 100%;
}
#search-form-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

/**
 * Header menu
 */
#header-menu-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 10%;
}
#header-menu {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#header-menu > li {
	display: inline;
	float: right;
}

/**
 * Main menu
 */
#main-menu-item {
	margin-right: 1em;
	position: relative;
}
#main-menu-icon {
	background: url('images/menu.png') no-repeat;
	margin: 0;
	opacity: .4;
	padding: 0;
	width: 32px;
	height: 32px;
}
#main-menu {
	border-bottom: 1px solid #aaa;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	position: absolute;
	right: 0;
	text-align: right;
	z-index: 3;
}
#main-menu li {
}
#main-menu a {
	background: #f9f9f9;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	display: none;
	margin: 0;
	padding: 1em;
	vertical-align: top;
}
#main-menu-item:hover a {
	display: block;
}
#main-menu a:hover {
	background: #eee;
	text-decoration: none;
}

/**
 * User menu
 */
#user-menu-item {
	margin-right: 1em;
	position: relative;
}
#user-menu-icon {
	background: url('images/user.png') no-repeat;
	margin: 0;
	opacity: .4;
	padding: 0;
	width: 32px;
	height: 32px;
}
#user-menu {
	border-bottom: 1px solid #aaa;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 8px;
	position: absolute;
	right: 0;
	text-align: right;
	z-index: 3;
}
#user-menu li {
}
#user-menu a {
	background: #f9f9f9;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	display: none;
	margin: 0;
	padding: 1em;
	vertical-align: top;
}
#user-menu-item:hover a {
	display: block;
}
#user-menu a:hover {
	background: #eee;
	text-decoration: none;
}

/**
 * Title
 */
.mw-indicator {
	float: right;
}
#firstHeading {
	display: inline-block;
	margin: 0;
	line-height: 3;
	font-size: 1.6em;
	border-bottom: 0;
}
#contentSub {
	font-size: small;
	margin-bottom: 1em;
}

/**
 * Actions
 */
#actions {
	display: inline;
	font-size: small;
	font-weight: normal;
	padding: 0;
	text-transform: lowercase;
	white-space: nowrap;
}
#actions li {
	display: inline;
	margin-left: 1em;
}
.mw-editsection {
	font-size: small;
	font-weight: normal;
}
.mw-editsection a {
	margin-left: 1em;
}
.mw-editsection-divider,
.mw-editsection-bracket {
	display: none;
}
#more-actions-wrapper {
	position: relative;
}
#more-actions-wrapper:hover a {
	display: block;
}
#more-actions-icon {
	cursor: default;
	font-size: large;
}
#more-actions {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 1em;
	right: -.5em;
	text-align: right;
	z-index: 3;
}
#more-actions li {
	margin: 0;
	padding: 0;
}
#more-actions a {
	background: white;
	display: none;
	margin: 0;
	padding: .5em;
	vertical-align: top;
}

/**
 * Content
 */
#content-wrapper {
	background: white;

}
#content {
	line-height: 1.5;
	margin: 0 auto;
	max-width: 1000px;
	padding-bottom: 5em;
}
.ve-ce-documentNode {
	padding: 0 !important;
}
#mw-content-text ol,
.ve-ui-surface ol {
	margin: 0 0 0 2em;
	padding: 0;
}
#mw-content-text ul,
.ve-ui-surface ul {
	margin: 0 0 0 2em;
	padding: 0;
}
#mw-content-text pre,
.ve-ui-surface pre {
	background: #f9f9f9;
	border: 1px solid #aaa;
	padding: 20px;
}

/**
 * Table of contents
 */
#toc {
	background: #f9f9f9;
	border: 1px solid #aaa;
	display: inline-block;
	padding: 1em;
	float: right;
}
#toc .toctoggle {
	display: none; /* Hide it because it cannot be styled like the Edit section button */
}
#toc .tocnumber {
	color: black;
}
#toc .toctext:hover {
	text-decoration: underline;
}
#toc a:hover {
	text-decoration: none;
}
#toc h2 {
	display: inline;
	border-bottom: 0;
}
#toc ul {
	margin: 0;
}
#toc li {
	list-style: none;
}
#filetoc {
	display: none; /* Hide it per useless */
}
.toclevel-1 {
	padding: 5px 0px 5px 0px;
}

/**
 * Thumbnails
 */
.thumb {
	background: #f9f9f9;
	border: 1px solid #aaa;
}
.thumb.tright {
	margin: 0 0 10px 10px;
}
.thumb.tleft {
	margin: 0 10px 10px 0;
}
.thumb .thumbinner {
	padding: 10px;
}
.thumb .thumbcaption {
	font-size: small;
}

/**
 * Galleries
 *
 * Galleries come with their own styling,
 * these are overrides to make the galleries fit with the overall style of the skin
 */
.gallery {
	margin: 0 !important;
}
.gallerytext {
	font-size: small;
	margin: 5px;
	padding: 0;
}
.gallerytext p {
	margin: 0;
}

/**
 * Collapse button
 *
 * This button is prominent in Special:RecentChanges and Special:Watchlist
 */
.mw-collapsible-toggle {
	margin-left: 1em;
}
.mw-collapsible-bracket {
	display: none;
}

/**
 * Categories
 */
#catlinks {
	border-top: 1px solid #aaa;
	clear: both;
	margin-top: 2em;
	padding-top: 1em;
}

/**
 * Footer
 */
#footer-wrapper {
	border-top: 1px solid #aaa;
	clear: both;
	padding: 1em;
}
#footer {
	margin: auto;
	max-width: 1000px;
}
#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer li {
	margin: .7em 0;
}
#footer-bottom {
	width: 640px;
}
#footer .footer-places {
	list-style: none;
	padding: 0;
}
#footer .footer-icons {
	display: none;
}
#footer .footer-tools {
	float: right;
}
#footer .footer-tools li {
	margin-top: 0;
}

/**
 * Self-links
 */
.selflink {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

/**
 * Search results
 */
.searchresults {
	margin: 1em 0;
}

/**
 * External links
 */
.external {
	background: url( 'images/external.png' ) no-repeat center right;
	padding-right: 1em;
}

#mainpagenavigation th {
	font-size: 17px !important;
}
